@font-face {
    font-family: 'sintonybold';
    src: url('../fonts/Sintony/sintony-bold-webfont.woff2') format('woff2'),
    url('../fonts/Sintony/sintony-bold-webfont.woff') format('woff'),
    url('../fonts/Sintony/sintony-bold-webfont.svg#sintonybold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sintonyregular';
    src: url('../fonts/Sintony/sintony-regular-webfont.woff2') format('woff2'),
    url('../fonts/Sintony/sintony-regular-webfont.woff') format('woff'),
    url('../fonts/Sintony/sintony-regular-webfont.svg#sintonyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body{
    background: #eaeaea;
}

*:focus{
    outline: none !important;
}
*:active{
    outline: none !important;
}

body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'sintonyregular'
}

.login-page, .register-page{
    background: #f5f5f5;
}
.main-header .logo .logo-lg{
    text-indent: -9999px;
    display: block;
    background: url('/modules/core/grf/logo/dark.svg') no-repeat left;
    background-size: 48px;
    padding-left: 58px;
    text-align: left;
}
.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini{
    background: url('/modules/core/grf/logo/dark.svg') no-repeat center;
    background-size: 36px;
    text-indent: -9999px;
}
@media (max-width: 768px) {
    .main-header .logo .logo-lg,
    .sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini{
        background-image: url('/modules/core/grf/logo/light.svg');
        background-position: center;
    }
}
.login-logo, .register-logo {
    background: url('/modules/core/grf/logo/dark.svg') no-repeat top center;
    background-size: 75px;
    padding-top: 75px;
}
.login-box, .register-box {
    margin: 3% auto;
}
.box{
    /*border-top: 2px solid #d2d6de*/
    border-top: none;
}
.box,
.nav-tabs-custom,
.small-box,
.info-box{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.box-body{
    padding: 25px;
}
.panel-buttons{
    padding: 25px;
    border-bottom: 1px solid #eee;
}
.panel-buttons.bottom{
    border-bottom: none;
    border-top: 1px solid #eee;
}
.box-header,
.box-footer{
    padding: 15px 25px;
}

.main-header,
.main-sidebar, .left-side{
    position: fixed;
}
.main-header{
    width: 100%;
}
.content-wrapper, .right-side{
    padding-top: 50px;
}

@media (max-width: 768px) {
    .content-wrapper, .right-side{
        padding-top: 100px;
    }
}
.nav-tabs-custom>.nav-tabs{

}
.sidebar-menu>li:hover>a, .skin-black .sidebar-menu>li.active>a{
    border-left-color: transparent !important;
}

.list-tree .found .item-wrap{
    background: #d4f7dc !important;
    box-shadow: none !important;
}

.list-tree .item-wrap .checkbox{
    padding-top: 5px;
}

ul#sortableList,
ul#sortableListsBase{
    list-style: none;
    padding: 0;
    padding-left: 28px;
}
ul#sortableList .fa,
ul#sortableListsBase .fa{
    font-size: 11px;
}
ul#sortableList li,
ul#sortableListsBase li{
    list-style: none;
    margin: 3px 0;
}
ul#sortableList li.disable > div.item-wrap{
    background: #f5f5f5;
}
ul#sortableList li.disable > div.item-wrap i.fa.fa-unsorted{
    display: none !important;
}
ul#sortableList li div.item-wrap,
ul#sortableListsBase li div.item-wrap{
    cursor: move;
    padding: 10px 15px;
    background-color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 1px #eee;
    -moz-box-shadow: inset 0px 0px 0px 1px #eee;
    box-shadow: inset 0px 0px 0px 1px #eee;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;


}
ul#sortableListsBase li div.item-wrap .search-success{
    background-color: #d8ecde !important;
}

ul#sortableList li div.item-wrap:hover,
ul#sortableList li div.item-wrap:active{

}
ul#sortableList li div.item-wrap:hover,
ul#sortableListsBase li div.item-wrap:hover{
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.6);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.6);
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.6);
}
ul#sortableList li div.item-wrap i{
    cursor: pointer;
}
ul#sortableList span.name,
ul#sortableListsBase span.name{
    margin-right: 10px;
    font-size: 13px;
}
ul#sortableList .fa-unsorted,
ul#sortableListsBase .fa-unsorted{
    cursor: move;
    margin-right: 5px;
}
ul#sortableList span.controls,
ul#sortableListsBase span.controls{
    display: none;
}
ul#sortableList div.item-wrap:hover span.controls,
ul#sortableListsBase div.item-wrap:hover span.controls{
    display: inline-block;
}

ul#sortableList span.controls i,
ul#sortableListsBase span.controls i{
    margin-right: 5px;
    font-size: 12px;
}

.info-box-success{
    position: fixed;
    width: 150px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 48px;
    text-align: center;
    padding: 10px 20px;
    background: rgba(0,0,0,0.75);
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 9999;
}

.content-header,
.content{
    padding-left: 42px;
    padding-right: 42px;
}
.content-header{
    padding-top: 30px;
}
@media (max-width: 768px) {
    .content-header,
    .content {
        padding-left: 15px;
        padding-right: 15px
    }
}
.content-header>h1 {

}
.content-header>.breadcrumb{
    display: none;
}
.fa.main{
    font-size: 32px;
    margin-bottom: 8px;
}
.mt25{
    margin-top: 25px;
}
.mb15{
    margin-bottom: 15px;
}
.mtb25{
    margin-top: 25px;
    margin-bottom: 25px;
}

.table>thead>tr>th{
    border-width: 1px;
}


.btn-o {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-o {
    color: #428bca;
}

.btn-success.btn-o {
    color: #5cb85c;
}

.btn-info.btn-o {
    color: #5bc0de;
}

.btn-warning.btn-o {
    color: #f0ad4e;
}

.btn-danger.btn-o {
    color: #d9534f;
}

.btn-primary.btn-o:hover,
.btn-success.btn-o:hover,
.btn-info.btn-o:hover,
.btn-warning.btn-o:hover,
.btn-danger.btn-o:hover {
    color: #fff;
}

.btn-xs-w{
    width: 36px;
}

tr:hover{
    background-color: #f8f8f8;
}
.structure-level {
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.structure-data {
    padding: 10px 0;
    /*border-bottom: 1px solid #9b9b9b;*/
}

.structure-module {
    margin-bottom: 3px;
    margin-top: 3px;
    padding-bottom: 5px;
    /*
    border-bottom: solid 1px #778899;
    border-right: solid 1px #778899;
    border-left: solid 1px #778899;
    */
}
.structure-nav {
}
/*
.structure-module > .structure-data {
    margin-bottom: 3px;
    margin-top: 3px;
}
*/
.structure-route {

}

.structure-route:hover{

}

.structure-route.parent{

}

.structure-route > .structure-data {

}
.structure-nav.parent > .structure-data,
.structure-module > .structure-data {
}

.structure-module > .structure-data input[type="checkbox"] {

}
.structure-module > .structure-data > .structure-actions{
    margin-right: 0;
}
.structure-module > .structure-data > .structure-actions .structure-actions{
    margin-right: 10px
}

.structure-route:nth-child(even) > .structure-data {

}

.structure-nav:nth-child(even) > .structure-data {
    /*background: lightgrey;*/
}


.structure-wrapper {
    padding: 15px;
}

/*
.structure-module:nth-child(even) > .structure-data {
    background: lightgrey;
}
*/

.structure-component {
    /*padding-bottom: 3px;*/
}


.structure-heading{
    /*
    border: 1px solid #ddd;
    background: #f5f5f5;
    */
    font-weight: bold;
    background: #9dada7;
    margin-bottom: 5px;
    border-radius: 2px;
    color: #fff
}
.structure-heading input[type="checkbox"] {
    float: right;
    margin-right: 40px;
}
.structure-row{
    border-bottom: 1px solid #f4f4f4;
}
.structure-row:hover{
    background-color: #f8f8f8;
}



/*
 * HELPER classes because you need all the help you can get
 **/

.no-padding {
    padding: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-sides {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.padding-left-30 {
    padding-left: 30px !important;
}

.panel-default>.panel-heading.btn-heading .panel-title{
    padding-top: 4px;
}

@media (min-width: 992px){
    .modal-lg {
        width: 70%;
    }
}

#global-messages{
    width: 100%;
    position: fixed;
    bottom: 20px;
    text-align: center;
    font-size: 42px;
}
#global-messages .global-message{
    width: 120px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    border-radius: 4px;
    left: 50%;
    position: absolute;
    bottom: 0;
    margin-left: -35px;
}

.load-partial.loading{
    opacity: 0.5;
}
.load-partial.loading::before{
    content:'loading...';
    display: block;
    text-align: center;

}

.modal-body .tab-content{
    padding: 15px;
    padding-top: 0;
}

.classifications-tabs .tab-content{
    padding: 15px;
}
.classifications-tabs .tab-content hr{
    margin: 5px 0
}

.classifications-tabs .tab-content .item{
    margin-bottom: 5px
}

.input-group-addon{
    background: #F5F5F5 !important;
}

/*
* PRODUCT VARIATIONS table.
*/

table.product-variations-table {width: 100%}
table.product-variations-table tr {border-bottom: 1px solid #ddd;}
table.product-variations-table tr:last-child:hover {background: transparent}
table.product-variations-table th,
table.product-variations-table td { padding: 15px 5px; }



table.product-variations-table > thead {}
table.product-variations-table > th, td {}
table.product-variations-table > thead > tr {}
table.product-variations-table > thead > tr > th {width: 120px !important;}
table.product-variations-table > thead > tr > th:last-child { width: auto !important;}
table.product-variations-table > thead > tr > th > select {display: inline-block!important;}

table.product-variations-table > tbody > tr {}
table.product-variations-table > tbody > tr > td {width: 120px !important;}
table.product-variations-table > tbody > tr > td {width: 120px !important;}
table.product-variations-table > tbody > tr > td.pe-col > select{width: 78% !important;display:inline-block!important;}

table.product-variations-table .before-this-head {width: auto !important}
table.product-variations-table .remove-th {margin-top: 3px}
table.product-variations-table .pe-col {padding-left: 15px}
.new-cg {}
.new-pg {}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover{
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
}
.list-group-item h4{
    margin: 0;
    line-height: 170%;
}

/*
.form-control{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}
*/

.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    outline: none !important; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #1769ff;
    border-color: #1769ff; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    outline: none !important; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }

.control-sizing .form-control{
    margin-bottom: 15px;
}

.checkbox-horizontal .checkbox{
    display: inline-block;
    margin-right: 15px;
}

.panel .row.groups{
    margin-top: 30px;
}

.fluid-width{
    width: 100%;
}

/* PLUPLOAD */

.plupload_logo,
.plupload_header_content_bw .plupload_logo{
    background-image: url(/modules/core/grf/icon-upload.svg);
    background-size: 40px;
    background-position: center;
}
.plupload_header_content{
    color: #000;
}
.plupload_view_thumbs .plupload_file{
    border: 1px solid #d2d6de !important;
    background: #FFF;
}
.plupload_file_thumb{
    background-color: #FFF;
}

.plupload_view_thumbs div.plupload_file_name{
    font-size: 8px;
}

.plupload_droptext{
    text-indent: -9999px;
}

.plupload_container{
    min-height: 400px;
}
.plupload_content{
}
.plupload_filelist{
    background: #fff;
}

#uploader .ui-widget-content{
    border: none;
    background: rgba(255,255,255, 0.9);
}

.gallery {}
.gallery > .sortable {}


.fixed-panel-buttons{
    margin-bottom: 100px;
}

.fixed-panel-buttons .panel-buttons{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    text-align: right;
    padding-right: 70px;
    z-index: 10;
}