html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
}

@font-face {
    font-family: "sintonybold";
    src: url("../../../fonts/sintony-bold-webfont.woff2") format("woff2"), url("../../../fonts/sintony-bold-webfont.woff") format("woff"), url("../../../fonts/sintony-bold-webfont.svg#sintonybold") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "sintonyregular";
    src: url("../../../fonts/sintony-regular-webfont.woff2") format("woff2"), url("../../../fonts/sintony-regular-webfont.woff") format("woff"), url("../../../fonts/sintony-regular-webfont.svg#sintonyregular") format("svg");
    font-weight: normal;
    font-style: normal
}

.clearfix:after, .paper .main:after, .paper .main .about:after, .paper .header:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.col-l, .col-r {
    position: relative
}

.col-l {
    float: left
}

.col-r {
    float: right
}

body {
    font-family: "sintonyregular";
    font-size: 6.66pt
}

.paper {
    position: relative;
    top: 0 !important;
    width: 210mm;
    height: 246.6245mm;
    background: #fff;
    padding-top: 5mm;
    /*box-shadow: inset 0px 0px 0px 1px #ec008c*/
}

.paper .dot {
    display: block;
    width: 10px;
    height: 10px;
    background: url("../../../assets/grf/circle-dashed.svg") no-repeat left top;
    background-size: 10px;
    text-indent: -9999px
}

.paper .outer-content .text {
    position: absolute;
    bottom: 0;
    left: 8.5mm;
    -webkit-transform: rotate(-90deg) translate(0, 50%);
    -ms-transform: rotate(-90deg) translate(0, 50%);
    -moz-transform: rotate(-90deg) translate(0, 50%);
    transform: rotate(-90deg) translate(0, 50%);
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    width: 297mm;
    font-size: 5pt;
    color: #808285;
}

.break {
    page-break-before: avoid;

}

.must-break {
    page-break-before: always;

}

.paper .outer-content .text span {
    position: absolute
}

.paper .outer-content .text span.t1 {
    left: 106mm;
    white-space: nowrap
}

.paper .outer-content .text span.t2 {
    left: 20mm
}

.paper .outer-content .text span.t3 {
    left: 8mm
}

.paper .main {
    line-height: 90%
}

.paper .main ul li {
    background: url("../../../assets/grf/circle-filled.svg") no-repeat left top;
    background-size: 10px;
    padding: 0 16px;
    line-height: 3.9mm
}

.paper .main .blueprint {
    padding: 10mm 0
}

.paper .main .about {
    min-height: 50mm;
    margin-bottom: 10mm
}

.paper .main .about .col-l, .paper .main .about .col-r {
    min-height: 70mm;
    position: relative;
    height: 100%
}

.paper .main .about .col-l {
    width: 50%
}

.paper .main .about .col-l .content {
    position: absolute;
    bottom: 0;
    padding-top: 10mm
}

.paper .main .about .col-l .content h2 {
    margin-bottom: 5mm
}

.paper .main .about .product-image {
    position: relative;
    width: 60mm
}

.paper .main .about .product-image .product-marks {
    position: absolute;
    bottom: 0;
    height: 18mm;
    width: 100%
}

.paper .main .about .product-image .product-marks span.left, .paper .main .about .product-image .product-marks span.right {
    position: absolute;
    bottom: 0
}

.paper .main .about .product-image .product-marks span.left {
    left: 0;
    width: 16mm;
    height: 5.5mm
}

.paper .main .about .product-image .product-marks span.left img {
    width: 6mm;
    bottom: 0;
    float: left;
    margin-right: 2mm
}

.paper .main .about .product-image .product-marks span.right {
    right: 0;
    width: 17mm;
    height: 14mm
}

.paper .main .about .product-image .product-marks span.right img {
    width: 17mm;
    height: 8mm;
    right: 0;
    bottom: 0;
    position: absolute
}

.paper .main .about .product-image img.product-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 60mm;
    max-height: 100%;
    margin: auto;
}

.paper .main .blueprint img {
    width: 100%
}

.paper .main table {
    width: 100%
}

.paper .main table th {
    font-family: "sintonybold"
}

.paper .main table thead th {
    background: #aab4a6
}

.paper .main table tbody tr {
    background: #fff
}

.paper .main table tbody tr:nth-child(even) {
    background: #e5e8e4
}

.paper .main table tbody tr th {
    width: 75mm
}

.paper .main table th, .paper .main table td {
    padding: 1.4mm 2mm;
    text-align: left
}

.paper .header {
    height: 25mm;
    border-bottom: 2px solid #000
}

.paper .header .logo img {
    height: 21mm
}

.paper .header h1 {
    font-size: 14.5pt;
    margin-top: 30px;
    margin-bottom: 7px
}

.paper .header span {
    font-size: 6.66pt;
    line-height: 180%
}

.paper .circle{
    position: absolute;
}
.paper .circle span {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8mm;
    background: url("../../../assets/grf/circle-dashed.svg") center no-repeat;
    background-size: 20px 20px;
    z-index: 999;
}

.paper .circle span.c2 {
    top: 68.25mm
}

.paper .circle span.c3 {
    top: 148.18mm
}

.paper .circle span.c4 {
    top: 235.2059mm
}

.paper .footer {
    width: 180mm;
    position: absolute;
    bottom: 7mm
}

.paper .footer .contact, .paper .footer .logo, .paper .footer .pagination {
    position: relative;
    height: 9mm
}

.paper .footer .contact {
    width: 80.6mm;
    float: left;
    font-size: 5pt;
    line-height: 150%
}

.paper .footer .contact p {
    position: absolute;
    bottom: 0
}

.paper .footer .logo {
    float: left
}

.paper .footer .logo img {
    height: 9mm
}

.paper .footer .logo img {
    margin-right: 4mm
}

.paper .footer .logo img + img {
    margin-right: 13mm
}

.paper .footer .logo img + img + img {
    margin-right: 0;
    height: 8mm
}

.paper .footer .pagination {
    width: 9mm;
    float: left;
    text-align: right
}

.paper .footer .pagination span {
    position: absolute;
    bottom: 0.5mm;
    right: 0
}

.paper .gaps {
}

.paper.left {
    background-size: 100% auto
}

.paper.left .gaps {
    padding-left: 20mm;
    padding-right: 10mm
}

.paper.right {
    background-size: 100% auto
}

.paper.right .gaps {
    padding-left: 10mm;
    padding-right: 20mm
}

.paper.right .circle span {
    left: 196mm;
}

.paper.right .text {
    left: 201mm
}

.paper.right .footer .pagination {
    float: none
}

.paper.right .footer .pagination span {
    right: auto;
    left: 0
}

.paper.right .footer .contact {
    margin-left: 9.7mm
}

.reg-list ul li {
    display: block;
    padding: 0 !important;
    background: none !important;
    position: relative
}

.reg-list ul li .item {
    position: relative;
    margin: 1.8mm 0;
    height: 5mm;
    border-bottom: 2px dotted #000
}

.reg-list ul li .item .name, .reg-list ul li .item .page, .reg-list ul li .item .fig {
    position: absolute;
    background: #fff;
    z-index: 1
}

.reg-list ul li .item .page {
    right: 0;
    top: 1mm;
    font-size: 8pt;
    padding-left: 1mm
}

.reg-list ul li span.chapter {
    font-size: 17pt;
    border-bottom: 2mm solid #000;
    display: block;
    width: 14mm;
    padding-bottom: 4mm;
    float: left;
    position: relative;
    z-index: 1;
    line-height: 100%
}

.reg-list ul li span.chapter.disable-num {
    padding-bottom: 3mm
}

.reg-list ul li.level-1 {
    height: 5mm
}

.reg-list ul li.level-1 .name {
    font-size: 17pt;
    padding: 4px 0;
    padding-right: 4px;
    z-index: 5
}

.reg-list ul li.level-2 ul {
    padding-left: 13mm
}

.reg-list ul li.level-2 .name {
    font-family: "sintonybold";
    font-size: 9pt;
    padding: 2mm 0;
    padding-right: 1mm
}

.reg-list ul li.level-3 .item {
    margin: 0;
    height: 3mm;
    font-size: 8pt
}

.reg-list ul li.level-3 .item .fig {
    z-index: 3;
    font-family: "sintonybold"
}

.reg-list ul li.level-3 .item .name {
    padding-left: 13mm
}

.reg-list ul li.level-1 .page, .reg-list ul li.level-2 .page {
    top: 3mm;
    font-family: "sintonybold"
}

.reg-list ul ul {
    padding-left: 17mm
}

.reg-list > ul {
    padding-top: 9mm
}

.reg-list > ul > li:last-child {
    border-bottom: none
}

.paper.cover {
    background-color: #d7d8d2;
    background-image: url("../../../assets/grf/cover1.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%
}

.paper.cover .header {
    height: 37mm;
    border: none
}

.paper.cover .header .logo img {
    height: 37mm
}

.paper.cover .gaps {
    padding-top: 13mm
}

.paper.cover h1, .paper.cover .label {
    position: absolute;
    bottom: 225px;
    width: 175px;
    line-height: 140%;
    font-size: 11.4pt;
    font-weight: bold;
    left: 580px
}

.paper.cover h1 span, .paper.cover .label span {
    display: block;
    height: 8px;
    width: 55px;
    background: #000;
    margin-bottom: 5mm
}

.paper.cover.green {
    background-image: url("../../../assets/grf/cover2.svg");
    background-color: #fff
}

.paper.cover.blue {
    background-image: url("../../../assets/grf/cover3.svg");
    background-color: #fff
}

.paper.cover.brown {
    background-image: url("../../../assets/grf/cover4.svg");
    background-color: #fff
}

.paper.cover.last {
    background-image: url("../../../assets/grf/cover5.svg");
    background-color: #d7d8d2
}

.paper.register .header h1, .paper.cover .header h1 {
    margin-top: 64px
}

.paper.register .headline h2, .paper.cover .headline h2 {
    border-bottom: 2px solid #000;
    font-family: "sintonybold";
    font-size: 130pt;
    border-bottom: 2px solid #000
}

.paper.register .headline h3, .paper.cover .headline h3 {
    font-size: 28pt;
    line-height: 100%;
    margin-top: 5mm
}

.paper.cover h2 {
    line-height: 80%
}

.paper.cover h3 {
    color: #d1d2d4
}

.paper.cover h3 span.highlight {
    color: #000
}

.paper.register h1 span {
    font-family: "sintonybold";
    color: #000;
    font-size: 70pt;
    position: absolute;
    top: 0;
    line-height: 105%;
    left: 0
}

.paper.register .headline h2 {
    height: 52mm
}

.paper.register .headline h2 span {
    position: relative;
    top: 29mm
}

.paper.register.header-mini h1 {
    padding-left: 17mm
}

.paper.last .contact {
    position: absolute;
    bottom: 47mm;
    font-size: 12pt;
    line-height: 140%
}

.paper.last .contact p {
    padding-bottom: 7mm
}

.paper.last .contact p:last-child {
    padding-bottom: 0
}
.da{
    position: static !important;
}