@font-face {
  font-family: 'sintonybold';
  src: url('../fonts/Sintony/sintony-bold-webfont.woff2') format('woff2'),
  url('../fonts/Sintony/sintony-bold-webfont.woff') format('woff'),
  url('../fonts/Sintony/sintony-bold-webfont.svg#sintonybold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sintonyregular';
  src: url('../fonts/Sintony/sintony-regular-webfont.woff2') format('woff2'),
  url('../fonts/Sintony/sintony-regular-webfont.woff') format('woff'),
  url('../fonts/Sintony/sintony-regular-webfont.svg#sintonyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}