.structure-level {
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.structure-data {
    padding-bottom: 3px;
    padding-top: 3px;
    /*border-bottom: 1px solid #9b9b9b;*/
}

.structure-module {
    margin-bottom: 3px;
    margin-top: 3px;
    padding-bottom: 5px;
    /*
    border-bottom: solid 1px #778899;
    border-right: solid 1px #778899;
    border-left: solid 1px #778899;
    */
}
.structure-nav {
    padding-bottom: 5px;
}
/*
.structure-module > .structure-data {
    margin-bottom: 3px;
    margin-top: 3px;
}
*/
.structure-route {
    margin-bottom: 3px;
}

.structure-route > .structure-data {

}

.structure-module > .structure-data {
    background: #122b40;
    color: #f5f5f5;
    font-size: 24px;
}

.structure-route:nth-child(even) > .structure-data {
    background: lightgrey;
}

.structure-nav:nth-child(even) > .structure-data {
    background: lightgrey;
}

.structure-nav.parent > .structure-data {
    background: #265a88;
    color: #f5f5f5;
    font-size: 24px;
}

.structure-wrapper {
    padding: 15px;
}

/*
.structure-module:nth-child(even) > .structure-data {
    background: lightgrey;
}
*/

.structure-component {
    /*padding-bottom: 3px;*/
}

/*
 * HELPER classes because you need all the help you can get
 **/

.no-padding {
    padding: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-sides {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.padding-left-30 {
    padding-left: 30px !important;
}