@font-face {
    font-family: "sintonybold";
    src: url("../fonts/Sintony/sintony-bold-webfont.woff2") format("woff2");
    src: url("../fonts/Sintony/sintony-bold-webfont.woff") format("woff");
    src: url("../fonts/Sintony/sintony-bold-webfont.svg#sintonybold") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "sintonyregular";
    src: url("../fonts/Sintony/sintony-regular-webfont.woff2") format("woff2");
    src: url("../fonts/Sintony/sintony-regular-webfont.woff") format("woff");
    src: url("../fonts/Sintony/sintony-regular-webfont.svg#sintonyregular") format("svg");
    font-weight: normal;
    font-style: normal
}

body {
    font-family: "sintonyregular"
}

.img-upload-btn {
    position: relative;
    overflow: hidden;
    padding-top: 95%;
}

.img-upload-input{
    width:100% !important;
    margin-top:10px;
}

.img-upload-btn input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img-upload-btn i {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.btn-radio {
    position: relative;
    overflow: hidden;
}

.btn-radio input[type=radio] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

